
.class-title-contanier {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #ffffff;
    border-radius: 30px;
    color: white;
    justify-content: center;
    padding: 20px;
    margin: 10px auto;
    background-image: url("./imgFolder/classTheme.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.class-title-contanier:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 30px;
  }

  .class-info-box {
      display: block;
  }
  .theme-settings-box{
      display: block;
      text-align: right;
  }

  h6 {
      display: inline;
      padding-right: 10px;
  }
  p {
      display: inline;
  }

    ul {
        list-style-type: none;
    }
    a {
        color: white;
    }
    a:hover{
        color: white;

    }
