*{
  margin: 0;
}
*::before, *::after {box-sizing: inherit;}
html {
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 1.5fr 1fr 1.5fr 1.5fr;
  height: 100vh;
  grid-template-areas:
   "navbar navbar navbar navbar navbar navbar navbar"
   ". title title title title title ."
   ". title title title title title ."
   ". upcoming comment comment comment comment ."
   ". upcoming comment comment comment comment ."
   ;

}


.navbar-wrapper {
  grid-area: navbar;

  

}
.class-title-contaniner {
  grid-area: title;

  border-style: solid;
  border-width: 2px;
}
.emptyness-contaniner {
  grid-area: empty;

}
.upcoming-event-contaniner {
  grid-area: upcoming;

  border-style: solid;
  border-width: 2px;
}
.comment-container {
  grid-area: comment;

  border-style: solid;
  border-width: 2px;

}

