*{
  margin: 0;
}
*::before, *::after {box-sizing: inherit;}
html {
  box-sizing: border-box;
  

}
.App {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 300px 1.5fr 1.5fr;

  grid-template-areas:
   "navbar navbar navbar navbar navbar navbar navbar"
   ". title title title title title ."
   ". upcoming comment comment comment comment ."
   ". upcoming comment comment comment comment ."
   ;
   grid-gap: 0.8rem;
   /* background: #e2e1e0; */
   background-color: white;

   
}




.navbar-wrapper {
  grid-area: navbar;
}

.class-title-wrapper {
  grid-area: title;
  margin-top: 40px;
  max-height: 500px;

  
}


.upcoming-event-wrapper {
  grid-area: upcoming;
  min-height: fit-content;

}


.comment-wrapper {
  grid-area: comment;
  min-height: fit-content;

}

